<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
    <h1>{{title}}</h1>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.10"></script>
<script>
    new Vue({
        el : '#app',
        data : {
            title : 'Create instance Vue.js'
        }
    })
</script>
</body>
</html>
